// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$site-font-size: 14px;
$mobile-site-font-size: 14px;

body {
  background: url("main-bg.jpg") no-repeat center 0;
  font-size: $site-font-size
}

a:hover {
  text-decoration: none;
}

.header-upper ul {
  list-style: none;
  & > li {
    display: inline-block;
    padding-right: 5px;
  }
}

.country-info > ul {
  li.language {
    width: 43px;
    padding-right: 0;
    button {
      padding: 6px 15px 6px 5px;
    }
  }
}

.user-links ul {
  .flight button {
    padding: 6px 15px 6px 5px;
  }
}

.user-links {
  text-align: right;
}

.search-bar {
  .in, .flight-ways, .out,
  .attendance, .search {
    background: #0084cf;
    height: 40px;
  }

  .row > div {
    padding-right: 0;
  }

  .row > div:not(:first-child) {
    padding-left: 5px;
  }

  .row > div:first-child {
    padding-left: 0px;

  }

  .attendance,
  .location,
  .date {
    padding-left: 15px;
    padding-top: 9px;
  }

  .location {
    width: 75%;
  }

  .search {
    button {
      background: #ffb900;
      border: none;
      width: 100%;
      border-radius: 0;
       height: 40px;
      color: #fff;
    }
  }
}

.header-upper,
.header-lower {
  background-color: transparent;
  border: none;
  &, & a {
    color: #fff;
  }
}

.header-upper {
  .country-info,
  .user-links {
    margin-top: 25px;
  }
}

.search-bar {
  .country-info,
  .user-links {
    margin-top: 25px;
  }

  .location,
  .date {
    float: left;
  }

  .country-info {

  }

  .user-links {

  }

  .date {
    input {
      background: none;
      border: none;
    }

    width: 30px;
  }

  .btn:hover, .btn:focus {
    color: #fff;
  }

}

.navbar {
  button {
    .double-caret:before {
      border-bottom: 4px solid #fff;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      content: "";
      height: 0;
      left: 4px;
      position: absolute;
      top: 4px;
      width: 0;
    }
    .double-caret:after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #fff;
      bottom: 4px;
      content: "";
      height: 0;
      left: 4px;
      position: absolute;
      width: 0;
    }
    .double-caret {
      /*background: none repeat scroll 0 0 green;*/
      /* height: 55px;*/
      position: relative;
      /*width: 10px;*/
    }

    background: none;

  }

  .open {
    .dropdown-menu {
      background-color: transparent;
      min-width: 60px;
    }
  }
}
