// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$site-font-size: 14px;
$mobile-site-font-size: 14px;

body {
  background: url("main-bg.jpg") no-repeat center 0;
  font-size: $site-font-size
}

input[type="text"] {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.header-upper ul {
  list-style: none;
  & > li {
    display: inline-block;
    padding-right: 5px;
  }
}

.country-info > ul {
  li.language {
    width: 43px;
    padding-right: 0;
    button {
      padding: 6px 15px 6px 5px;
    }
  }
}

.user-links ul {
  .flight button {
    padding: 6px 15px 6px 5px;
  }
}

.user-links {
  text-align: right;
}

a,.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
}

.search-bar {
  .in, .flight-ways, .out,
  .attendance, .search {
    background: #0084cf;
    height: 40px;
  }

  .row > div {
    padding-right: 0;
  }

  .row > div:not(:first-child) {
    padding-left: 5px;
  }

  .row > div:first-child {
    padding-left: 0px;

  }

  .attendance,
  .location,
  .date {
    padding-left: 15px;
    padding-top: 9px;
  }

  .location {
    width: 75%;
  }

  .search {
    button {
      background: #ffb900;
      border: none;
      width: 100%;
      border-radius: 0;
       height: 40px;
      color: #fff;
    }
  }
}

.header-upper,
.header-lower {
  background-color: transparent;
  border: none;
  &, & a {
    color: #fff;
  }
}

.header-upper {
  .country-info,
  .user-links {
    margin-top: 25px;
  }
}

.search-bar {
  .country-info,
  .user-links {
    margin-top: 25px;
  }

  .location,
  .date {
    float: left;
  }

  .country-info {

  }

  .user-links {

  }

  .date {
    input {
      background: none;
      border: none;
    }

    width: 30px;
  }

  .btn:hover, .btn:focus {
    color: #fff;
  }

}


.double-caret:before {
  border-bottom: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 0;
}
.double-caret:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  bottom: 4px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  width: 0;
}
.double-caret {
  /*background: none repeat scroll 0 0 green;*/
  /* height: 55px;*/
  position: relative;
  /*width: 10px;*/
}

.popbox  {
  img {
    width: 55px;
    height: 40px;
    border-right: 1px solid #fff;
    padding: 0px 5px 0px 10px;
    margin-right: 9px;
  }
}

.navbar {
  button {
    background: none;
  }

  .open {
    .dropdown-menu {
      background-color: transparent;
      min-width: 60px;
    }
  }
}

.flight-classes,
.flight-options {
  & .row {
  margin-right: 0;
  margin-left: 0;
}
  margin-right: 0;
  margin-left: 0;
  color: #000000;
}

.flight-options {
  .oneway, .twoway, .pair-oneway {
    float: left;
  }

  padding: 20px;
}

.flight-classes {
  padding: 5px 20px 10px;
  text-align: left;

  input[type="radio"] {
    margin-right: 5px;
  }
}

.attendance select {
  background: transparent;
  /*border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 110px 2px 2px;
  border: none;
  background: transparent;
  outline: none;
  option {
    color: #0084cf;
  }*/
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding-right: 36px;
}
